html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    word-break: break-word;
}

h2 {
    font-size: 2.8em;
    font-weight: bold;
    word-break: break-word;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    word-break: break-word;
}

p {
    font-size: 1.2em;
    color: black;
}

a {
    color: #35495e;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.white {
    color: white;
}

hr {
    border-style: none;
    height: 1px;
    width: 30%;
    margin: 3em auto;
    background-color: black;
    opacity: 0;
}

.fifty-percent {
    width: 50%;
}

.hundred-percent {
    width: 100%;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jump-to-top {
    /* position: sticky; */
    position: fixed;
    right: 10vw;
    top: 90vh;
    line-height: 0;
    padding: 0.7em;
    background-color: #35495e;
    opacity: 0.5;
    color: white;
    border-radius: 50%;
}

#software-container .jump-to-top {
    right: 3vw;
}

.jump-to-top:hover {
    opacity: 1;
    text-decoration: none;
}

#__layout > div {
    isolation: isolate;
}

@media only screen and (max-width: 768px) {
    .jump-to-top {
        top: 87vh;
    }
}
